
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4 ng-model="weatherResult">Forecast for {{weatherResult.city.name}}</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="cityName" />
            
            <div class="dropdown" ng-model="daysLabel">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{daysLabel}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-click="setDays(1, 'Today')"><a>Today</a></li>
                <li ng-click="setDays(3, '3 Day')"><a>3 Day</a></li>
                <li ng-click="setDays(5, '5 Day')"><a>5 Day</a></li>
                <li ng-click="setDays(7, '7 Day')"><a>7 Day</a></li>
              </ul>
            </div>
        </div>
        <br/><br/>
        <p><i><font size="2">Type in the box to change city</font></i></p>
        
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        
        
        <div ng-repeat="w in weatherResult.list">
            <div class="row" >
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{convertToDate(w.dt)}}</h3>
                        </div>
                        <div class="panel-body">
                            Daytime Temp: {{convertToFahrenheit(w.temp.day)}} °F
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>