
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="cityName" />
            
             <div class="dropdown" ng-model="daysLabel">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{daysLabel}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-click="setDays(1, 'Today')"><a>Today</a></li>
                <li ng-click="setDays(3, '3 Day')"><a>3 Day</a></li>
                <li ng-click="setDays(5, '5 Day')"><a>5 Day</a></li>
                <li ng-click="setDays(7, '7 Day')"><a>7 Day</a></li>
              </ul>
            </div>
            
        </div>
        <br /> <br />
        <div class="alert alert-info" role="alert" ng-hide="validCity">Please Enter a Valid City</div>
        <a href="#/forecast" ng-model="weatherResult" ng-show="validCity" class="btn btn-primary">Get Forecast For {{weatherResult.city.name}}</a>
        
        
       
        
    </div>
</div>